ul.characterList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    background: #1c1e22;
    color: #ffe300;
}

ul.characterList li {
    flex-grow: 1;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    font-size: 2vw;
}

ul.characterList li:hover {
    color: #c8c8c8;
}

ul.characterList li.selectedCharacter {
    background: #4c4e50;
}

.filmDetails {
    width: 50%;
    margin: 0 auto;
}

.filmDetails h4 {
    text-align: center;
    color: #A58500;
    font-size: 1.5vw;
}

.filmDetails article {
    margin: 0 0 20px 0px;
    border-bottom: 1px solid #af80808f;
}

.filmDetails article .filmDetails__filmTitle {
    color: #136CB2;
    font-weight: bold;
}

.filmDetails__filmReleaseDate {
    color: #FF0000;
    font-weight: normal;
}

.filmDetails__filmDirector {
    margin: 5px 0px;
    font-size: 1vw;
}

.filmDetails__filmCrawl {
    transform: perspective(600px) rotateX(45deg);
}

.filmDetails--selectCharacter,
.filmDetails__errorMessage {
    font-size: 2.5em;
    text-align: center;
    margin-top: 2%;
    color: #6d6d6d;
}